
       
            <h1>Liên hệ với chúng tôi</h1>
            <h2>Công ty Cổ phần Mạng trực tuyến META</h2>
        
        <p>	Hà Nội: Số 56, Phố Duy Tân, Dịch Vọng Hậu, Cầu Giấy</p>
    <p>Thời gian phục vụ: Từ 8h - 17:30h (Thứ 2 đến thứ 6); Từ 8h - 12h00 (Thứ 7)</p>
    <p>&nbsp;</p>
    <p>TP HCM: 716 - 718 Điện Biên Phủ, Phường 10, Quận 10</p>
    <p>Thời gian phục vụ: Từ 8h - 17:30h (Thứ 2 đến thứ 6); Từ 8h - 12h00 (Thứ 7)</p>
    <p>&nbsp;</p>
    <p>Hotline: <a href="tel:+842422426188">024 2242 6188</a></p>
    <p>Email: hotro@vndoc.com</p>
        
        <div class="footer clearfix">
            <a href="/support/about">Giới thiệu</a>
            <a href="/support/terms">Điều khoản</a>
            <a href="/support/privacy">Bảo mật</a>
            <a href="/support/help">Hướng dẫn</a>
            <a href="/support/apps">Ứng dụng</a>
            <a href="/support/contact">Liên hệ</a>
            <p>&copy; 2019 VnDoc.com.</p>
    
        </div>