<br />
<h5 style="text-align: center; color: darkgreen;font-weight: bold;">ĐĂNG KÍ TÀI KHOẢN</h5>
<div style="text-align: center">
<p>Để có những bài thi tuyệt vời của <code>Học là giỏi</code> </p>
  <form action="/action_page.php" class="was-validated">
    <div class="form-group">
      <input type="text" class="form-control" id="uname" placeholder="Email của bạn" name="uname" required > <br />
      <input type="number" class="form-control" id="uname" placeholder=" Số điện thoại của bạn" name="uname" required > 
    </div>
    <div class="form-inline">
      <input type="password" class="form-control" id="pwd" placeholder="Password" name="pswd" required style="width: 395px;">
      <input type="password" class="form-control" id="pwd" placeholder="Nhập lại Password" name="pswd" required style="width: 394px;margin-left:35px;">
    </div>
    <div class="form-group form-check">
    </div>
    <button type="submit" class="btn btn-success" style="width: 200px;">Đăng Kí</button>
  </form>
</div>
