<section class="panel panel-default">
    <div class="panel-body">
        <h3 class="heading m-t-0"><i class="fa fa-key"></i>Lấy lại mật khẩu</h3>
        <div class="heading-line"></div>
                                    <div id=""></div>
                                    <div style="padding-top:20px;"></div>

            <div id="form-group">
                <input type="text" name="register_user_tel" id="register_user_tel" class="form-control" value="" placeholder="Nhập Email của bạn để lấy lại mật khẩu"/>
            </div>
            <br />
            <div id="form-group" onclick="$(this).hide(); $('#loading').show();">
                <button class="btn btn-primary" type="submit" value="" name="submit" >Gửi</button>
            </div>
                            </div>
</section>