<br />
<h3 style="text-align: center;color: brown;">Nhập UserName và Email để nhận lại mật khẩu</h3>
<form #formdangki="ngForm" (ngSubmit)="submit(formdangki)">
    <div class="form-group">
        <label style="color:  deepskyblue;">Username :</label><input type="text" class="form-control"
            [(ngModel)]='username' name="username" required>
        
        <label style="color:  deepskyblue;">Email :</label><input type="text" class="form-control"
            [(ngModel)]='email' name="email" required>
    </div>
    <div class="form-inline"*ngIf="submit">
        <input type="text" *ngFor="let a of user" class="form-control" style="width: 100%;" [(ngModel)]='a.password' placeholder="Password"
            name="password" required>
    </div>
    <div class="form-group form-check">
    </div>

    <button class="btn btn-success" (click)="quenMatKhau()" style="width: 200px;">Bấm để lấy mật khẩu</button>
</form>