<br />
<div class="card" style="width: 100%;">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-2">
        <img src="assets/DBBS.png" height="50px;">
      </div>
      <div class="col-sm-10">
        Bộ đề thi và đáp án chi tiết môn Kiểm thử và thiết kế
        <a href="#" class="btn btn-warning" style="float: right;">Thi ngay&nbsp;<i
            class="far fa-hand-point-right"></i></a>
        <div><i class="fas fa-heart"></i>&nbsp; 15 câu hỏi &nbsp;<i class="far fa-clock">&nbsp;</i>15 phút</div>
      </div>
    </div>
  </div>
</div>
<hr />

<div class="card" style="width: 100%;">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-2">
        <img src="assets/DBAV.png" height="50px;">
      </div>
      <div class="col-sm-10">
        Bộ đề thi và đáp án chi tiết môn SQL Server
        <a href="#" class="btn btn-warning" style="float: right;">Thi ngay&nbsp;<i
            class="far fa-hand-point-right"></i></a>
        <div><i class="fas fa-heart"></i>&nbsp; 20 câu hỏi &nbsp;<i class="far fa-clock">&nbsp;</i>10 phút</div>
      </div>
    </div>
  </div>
</div>
<hr />


<div class="card" style="width: 100%;">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-2">
        <img src="assets/CLCO.jpg" height="50px;">
      </div>
      <div class="col-sm-10">
        Bộ đề thi và đáp án chi tiết môn Điện toán đám mây
        <a href="#" class="btn btn-warning" style="float: right;">Thi ngay&nbsp;<i
            class="far fa-hand-point-right"></i></a>
        <div><i class="fas fa-heart"></i>&nbsp; 30 câu hỏi &nbsp;<i class="far fa-clock">&nbsp;</i>15 phút</div>
      </div>
    </div>
  </div>
</div>
<hr />

<div class="card" style="width: 100%;">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-2">
        <img src="assets/PHPP.png" height="50px;">
      </div>
      <div class="col-sm-10">
        Bộ đề thi và đáp án chi tiết môn Lập trình PHP
        <a href="#" class="btn btn-warning" style="float: right;">Thi ngay&nbsp;<i
            class="far fa-hand-point-right"></i></a>
        <div><i class="fas fa-heart"></i>&nbsp; 15 câu hỏi &nbsp;<i class="far fa-clock">&nbsp;</i>15 phút</div>
      </div>
    </div>
  </div>
</div>
<hr />

<div class="card" style="width: 100%;">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-2">
        <img src="assets/ADTE.jpg" height="50px;">
      </div>
      <div class="col-sm-10">
        Bộ đề thi và đáp án chi tiết môn Lập trình Anroid cơ bản
        <a href="#" class="btn btn-warning" style="float: right;">Thi ngay&nbsp;<i
            class="far fa-hand-point-right"></i></a>
        <div><i class="fas fa-heart"></i>&nbsp; 10 câu hỏi &nbsp;<i class="far fa-clock">&nbsp;</i>15 phút</div>
      </div>
    </div>
  </div>
</div>
<hr />

<div class="card" style="width: 100%;">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-2">
        <img src="assets/ADAV.jpg" height="50px;">
      </div>
      <div class="col-sm-10">
        Bộ đề thi và đáp án chi tiết môn Lập trình Anroid nâng cao
        <a href="#" class="btn btn-warning" style="float: right;">Thi ngay&nbsp;<i
            class="far fa-hand-point-right"></i></a>
        <div><i class="fas fa-heart"></i>&nbsp; 15 câu hỏi &nbsp;<i class="far fa-clock">&nbsp;</i>15 phút</div>
      </div>
    </div>
  </div>
</div>
<hr />

<div class="card" style="width: 100%;">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-2">
        <img src="assets/LAYO.jpg" height="50px;">
      </div>
      <div class="col-sm-10">
        Bộ đề thi và đáp án chi tiết môn Thiết kế Layout
        <a href="#" class="btn btn-warning" style="float: right;">Thi ngay&nbsp;<i
            class="far fa-hand-point-right"></i></a>
        <div><i class="fas fa-heart"></i>&nbsp; 20 câu hỏi &nbsp;<i class="far fa-clock">&nbsp;</i>20 phút</div>
      </div>
    </div>
  </div>
</div>
<hr />

<div class="card" style="width: 100%;">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-2">
          <img src="assets/PMAG.jpg" height="50px;">
        </div>
        <div class="col-sm-10">
          Bộ đề thi và đáp án chi tiết môn Quản lý dự án với Aglie
          <a href="#" class="btn btn-warning" style="float: right;">Thi ngay&nbsp;<i
              class="far fa-hand-point-right"></i></a>
          <div><i class="fas fa-heart"></i>&nbsp; 20 câu hỏi &nbsp;<i class="far fa-clock">&nbsp;</i>20 phút</div>
        </div>
      </div>
    </div>
  </div>
  <hr />

  <div class="card" style="width: 100%;">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-2">
            <img src="assets/WEBU.jpg" height="50px;">
          </div>
          <div class="col-sm-10">
            Bộ đề thi và đáp án chi tiết môn Internet Martketing
            <a href="#" class="btn btn-warning" style="float: right;">Thi ngay&nbsp;<i
                class="far fa-hand-point-right"></i></a>
            <div><i class="fas fa-heart"></i>&nbsp; 50 câu hỏi &nbsp;<i class="far fa-clock">&nbsp;</i>25 phút</div>
          </div>
        </div>
      </div>
    </div>
    <hr />

    <div class="card" style="width: 100%;">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-2">
              <img src="assets/JAAV.png" height="50px;">
            </div>
            <div class="col-sm-10">
              Bộ đề thi và đáp án chi tiết môn Lập trình hướng đối tượng với Java
              <a href="#" class="btn btn-warning" style="float: right;">Thi ngay&nbsp;<i
                  class="far fa-hand-point-right"></i></a>
              <div><i class="fas fa-heart"></i>&nbsp; 30 câu hỏi &nbsp;<i class="far fa-clock">&nbsp;</i>50 phút</div>
            </div>
          </div>
        </div>
      </div>
      <hr />

      <div class="card" style="width: 100%;">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-2">
                <img src="assets/ASNE.png" height="50px;">
              </div>
              <div class="col-sm-10">
                Bộ đề thi và đáp án chi tiết môn Lập trình APS.NET
                <a href="#" class="btn btn-warning" style="float: right;">Thi ngay&nbsp;<i
                    class="far fa-hand-point-right"></i></a>
                <div><i class="fas fa-heart"></i>&nbsp; 30 câu hỏi &nbsp;<i class="far fa-clock">&nbsp;</i>50 phút</div>
              </div>
            </div>
          </div>
        </div>
        <hr />