<div class="row">
    <div class="col-md-9 ">
        <div class="card text-center card"
            *ngFor="let a of dulieu | paginate: { itemsPerPage: item, currentPage: trangdau }">
            <div class="card-body">
                <img src="assets/{{a.Logo}}">
            </div>
            <div class="card-footer text-muted">
                <a [routerLink]="['/trangchu',a.Id]"> {{a.Name}}</a>
            </div>
        </div><br />

        <div class="nut row">
            <div class="col-5"></div>
            <button type="button" class="btn " (click)="goPre()"><i
                    class="far fa-arrow-alt-circle-left fa-2x"></i></button>
            <button type="button" class="btn " (click)="goNext()"><i
                    class="far fa-arrow-alt-circle-right fa-2x"></i></button>
        </div>
    </div>
    <div class="col-md-3">
        <table class="table">
            <thead>
                <tr>
                    <th><i class="fas fa-bars"></i>&nbsp;DANH MỤC</th>
                </tr>
            </thead>
            <tbody>
                <p *ngFor="let sub of dulieu"> <a [routerLink]="['/trangchu',sub.Id]">{{sub.Name}}</a></p>

            </tbody>
        </table>
    </div>
    <br />
</div>