<br />
<h5 style="text-align: center; color: darkgreen;font-weight: bold;">ĐĂNG KÍ TÀI KHOẢN</h5>
<div style="text-align: center">
<p>Để có những bài thi tuyệt vời của <code>Học là giỏi</code> </p>
  <form action="/action_page.php" class="was-validated">
    <div class="form-group">
            <input type="password" class="form-control" id="pwd" placeholder="Mật khẩu cũ" name="pswd" required ><br />
            <input type="password" class="form-control" id="pwd" placeholder="Mật khẩu mới" name="pswd" required ><br />
            <input type="password" class="form-control" id="pwd" placeholder="Nhập lại mật khẩu" name="pswd" required >
    </div>
    
    
    <button type="submit" class="btn btn-success" style="width: 200px;">Đăng Kí</button>
  </form>
</div>
