<br />
<h3 style="text-align: center;color: lightsteelblue">Hỏi đáp trực tuyến</h3>
<form action="/action_page.php">
    <div class="form-group">
      <label for="email">Họ tên:</label>
      <input type="email" class="form-control" id="email" placeholder="họ tên">
      <label for="email">Địa chỉ:</label>
      <input type="email" class="form-control" id="email" placeholder="Địa chỉ">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Email">
      <label for="email">Số điện thoại:</label>
      <input type="email" class="form-control" id="email" placeholder="Số điện thoại">
      <label for="email">Câu hỏi:</label>
      <input type="email" class="form-control" id="email" placeholder="Câu hỏi">
      <div class="form-group">
            <label for="comment">Nội dung:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
          </div>
      
    </div>
    
    
    <button type="submit" class="btn btn-primary">Gửi</button>
  </form>
  <br />