<br />
<div class="col-sm-9">
        <div class="intro">
            <h2>1. Quá trình hình thành của Giải pháp dạy và học trắc nghiệm 789.vn.</h2>
            <p>Năm 2017 lần đầu tiên kỳ thi THPT Quốc gia, môn Toán được Bộ Giáo dục & Đào tạo áp dụng hình
                thức thi trắc nghiệm. Sự thay đổi đột ngột này đã làm cho không ít thầy cô giáo cũng như hầu hết
                các em học sinh cảm thấy bất ngờ, bối rối. Người dạy cũng không chắc dạy như thế nào cho phù
                hợp, học sinh thì không có tài liệu chính thống, giáo trình hay một sân chơi tầm cỡ  để các em
                tin tưởng thử sức mình trước kỳ thi chính thức.</p>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <img class="img-responsive" src="https://www.789.vn/Content/nganhangdethi/img/Picture1.png" alt="" width="500px;">
                </div>
            </div>
            <br>
            <p>Nhận thấy được sự dịch chuyển của xu hướng dạy học hiện nay, Công ty Công nghệ giáo dục và Sách
                Tinh Hoa với hơn 10 năm kinh nghiệm hoạt động trong lĩnh vực giáo dục và xuất bản sách đã phối
                hợp cùng với hơn 200 chuyên gia hàng đầu hiện nay trong lĩnh vực giáo dục phổ thông, tổ chức
                biên soạn hơn 100.000 câu hỏi <a href="https://www.789.vn">trắc nghiệm trực tuyến</a> đảm bảo tiệm
                cận với cấu trúc đề thi mới nhất của Bộ Giáo dục & Đào tạo. Bên cạnh đó, chúng tôi còn đặc biệt
                quan tâm đến sự phong phú của nội dung cũng như đa dạng hóa cách thức ra đề nhằm mang đến cho
                cả học sinh lẫn giáo viên một công cụ đắc lực trong công tác dạy và học hình thức trắc nghiệm.
            </p>
            <h2>2. Giá trị 789.vn mang lại cho Giáo dục THPT</h2>
            <h3>2.1. Lợi ích đối với trường THPT</h3>
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive text-center" src="https://www.789.vn/Content/nganhangdethi/img/Picture4.png" alt=""width="300px;">
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Giúp Nhà trường vừa có thể tổ chức nhiều kỳ thi thử THPT Quốc gia trên quy mô lớn vừa giảm
                            tối đa nguồn lực (chi phí, nhân lực, cơ sở vật chất, thời gian ra đề thi và chấm bài) so với
                            hình thức thi trước đây
                        </li>
                        <li>Nâng cao chất lượng học tập, thi cử của học sinh và tỷ lệ tốt nghiệp thông qua quá trình học
                            sinh luyện thi trên ngân hàng đề khổng lồ, chất lượng với các câu hỏi bám sát cấu trúc của
                            Bộ Giáo dục & Đào tạo
                        </li>
                        <li>Phân tích chính xác điểm mạnh/yếu của từng học sinh từ đó Nhà trường có thể đưa ra kế hoạch
                            bồi dưỡng thích hợp.
                        </li>
                    </ul>
                </div>
            </div>
            <h3>2.2. Lợi ích đối với Thầy Cô </h3>
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li>Tạo và in đề thi chỉ trong 30 giây theo ma trận mà mình mong muốn</li>
                        <li>Tự động chấm bài và vào sổ điểm cho cả hình thức thi online cũng như bài thi trên giấy</li>
                        <li>Dễ dàng tạo từng lớp học riêng lẻ và tùy chọn đưa học sinh vào lớp để kiểm tra</li>
                        <li>Phân tích điểm mạnh/ điểm yếu của từng học sinh từ đó lập ra những kế hoạch bồi dưỡng thích
                            hợp
                        </li>
                        <li>Tự động gửi báo kết quả học tập chi tiết đến phụ huynh qua email hoặc tin nhắn điện thoại
                            (SMS)
                        </li>
                        <li>Giúp thầy cô tự xây dựng một ngân hàng đề thi riêng hoàn toàn miễn phí không gian lưu trữ
                            dựa trên nền tảng công nghệ đột phá của 789.vn
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive" src="https://www.789.vn/Content/nganhangdethi/img/Picture2.png" alt=""width="500px;">
                </div>
            </div>
            <h3>2.3 Học sinh nhận được lợi ích gì khi sử dụng Giải pháp 789.vn?</h3>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <img class="img-responsive" src="https://www.789.vn/Content/nganhangdethi/img/Picture3.png" alt=""width="500px;">
                </div>
            </div>
            <br>
            <ul>
                <li>Ôn tập hơn 100.000 câu hỏi trắc nghiệm được phân chia rõ ràng theo từng chương, cấp độ, có
                    đáp án, lời giải chi tiết và cập nhật liên tục mỗi ngày, do 200 chuyên gia trong lĩnh vực
                    Giáo dục phổ thông biên soạn.
                </li>
                <li>Câu hỏi bám sát cấu trúc đề thi mới nhất của Bộ Giáo dục & Đào tạo.</li>
                <li>Hình thức thi đa dạng như kiểm tra 15 phút, 45 phút, thi học kỳ, thi THPT Quốc gia.</li>
                <li>Thi trực tuyến mọi lúc, mọi nơi, dễ dàng thao tác, tương thích trên nhiều thiết bị khác
                    nhau.
                </li>
                <li>Kết quả thi được lưu trữ trên hệ thống 789.vn trên suốt 3 năm học để các em học sinh có thể
                    ôn tập liên tục và theo dõi thành tích học tập của mình.
                </li>
            </ul>
        </div>
    </div>