<br />
<h3 style="text-align: center;color: brown;">Thông tin tài khoản</h3>
<form #formdangki="ngForm" (ngSubmit)="submit(formdangki)">
  <div class="form-group">
    <label style="color:   deepskyblue;">Username :</label><input type="text" readonly class="form-control"
      [(ngModel)]='user.username' name="username" required><br />
    <label style="color:  deepskyblue;">Gới tính :</label>
      <input type="radio" [(ngModel)]='user.gender' name="gender" value="true">Nam
      <input type="radio" [(ngModel)]='user.gender' name="gender" value="false">Nữ <br />
      <label style="color:  deepskyblue;">Email :</label>
      <input type="text" class="form-control" [(ngModel)]='user.email' name="email" required>
  </div>
  <div class="form-group">
    <label style="color:  deepskyblue;">Full Name :</label>
    <input type="text" class="form-control" [(ngModel)]='user.fullname' placeholder="Họ Tên" name="fullname" required>
    <label style="color:  deepskyblue;">Birthday :</label>
    <input type="date" class="form-control" [(ngModel)]='user.birthday' placeholder="Ngày sinh" name="birthday"
      required>
  </div>
  <button class="btn btn-success" (click)="sua()" style="width: 200px;">Cập nhật</button>
</form>