<br />
<h5 style="text-align: center; color: darkgreen;font-weight: bold;">THÔNG TIN CHUNG</h5>
<div >
  <form action="/action_page.php" class="was-validated">
    <div class="form-group">
      <label for="uname">chưa làm bài trắc nghiệm</label>
      <input type="text" class="form-control" id="uname" placeholder="alo" name="uname"  ><br />
      <input type="date" class="form-control" id="uname" placeholder="" name="uname"  ><br />
      <input type="number" class="form-control" id="uname" placeholder="076453874" name="uname" ><br />
      <input type="date" class="form-control" id="uname" placeholder="địa chỉ" name="uname"  ><br />
      <input type="date" class="form-control" id="uname" placeholder="Tài khoản Facebook" name="uname"  >
    </div>
    <button type="submit" class="btn btn-success" style="width: 200px;">CẬP NHẬT</button>
  </form>
</div>
